.main{
background: rgba(255,187,16,1);
background: -moz-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,187,16,1)), color-stop(45%, rgba(255,187,16,1)), color-stop(100%, rgba(249,232,183,1)));
background: -webkit-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%);
background: linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb10', endColorstr='#f9e8b7', GradientType=1 );
padding:25px;


.title-first,
.title-second {
	// background-color: $primary-color;
	// padding: 10px;
	// border-radius:20px;
	// color: $secondary-color;
	// text-align: center;
	// margin:0;
	// font-size: 1.9em;
	color: $secondary-color;
	text-align: center;
	font-family: 'montserratblack';
	font-size: 2.1em;
}

.title-second{
	display: inline-block;
	margin-top: 25px;
}

.sep{
	padding:20px 0;
	clear: both;
}

//form
.ingresa{
	background-color: $secondary-color;
	padding: 20px 30px 60px 30px;
	border-radius: 20px;
	text-align: left;

	h2{
		color:$primary-color;
		margin: 0;
		font-family: 'montserratbold';
		font-size: 1.3em;
		margin-bottom: 40px;
	}

	input[type="text"]{
		width: 100%;
		padding: 10px;
		border:1px solid #cccccc;
		border-radius: 10px;

		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		&:focus{
			border: 2px solid $primary-color;
			outline: none;
		}
	}

	input[type="submit"]{
		background-color: $primary-color;
		width: 100%;
		padding: 10px;
		border-radius: 10px;	
		color:$secondary-color;
		border:none;
		margin-top: 40px;
	}

}

.recomendar{
	background-color: rgba($primary-color,0.3);
	border-radius: 10px;
	padding: 20px 20px;
	position: relative;

	h3{
		color: $secondary-color;
		font-family: 'montserratbold';
		font-size: 1.8em;
		margin:0;
	}
	.timeline{
		height: 5px;
		background-color: $secondary-color;
		width: 100%;
		display: block;
		margin:25px 0; 
		position: relative;
		&:after{
		    content:"";
		    position: absolute;
		    width: 30px;
		    height: 30px;
		    display: block;
		    background-color: $secondary-color;
		    top: -13px;
		    left:60px;
		    border-radius: 100%;
		    box-shadow: 225px 0px 0px 0px rgba(255, 255, 255, 1);
		}
		&:before{
		    content:"";
		    position: absolute;
		    width: 30px;
		    height: 30px;
		    display: block;
		    background-color: $secondary-color;
		    top: -13px;
		    right:60px;
		    border-radius: 100%;
		}
	}
	.lista-recomendar{
		span{
			font-size: 5em;
			margin-right: 10px;
			color: $secondary-color;
			float: left;
			position: relative;
			top: -25px;
		}
		p{
			font-size: 0.7em;
			color: $secondary-color;
			float: left;
			width: 60%;
		}
	}
}//recomendar



}//fin main



